DATABASE_URL=postgresql://user:pass@ep-xxx-pooler.eu-central-1.aws.neon.tech/neondb?sslmode=require
JWT_SECRET=your_secret_here
PORT=3000
NODE_ENV=development
BCRYPT_COST=12

REDIS_URL=rediss://default:yourpassword@your-db.upstash.io:6379

BREVO_API_KEY=your-brevo-api-key-here
BREVO_SENDER_EMAIL=noreply@yourdomain.com
BREVO_SENDER_NAME=Sentinel